<div mat-dialog-content *ngIf="quickDialogService.quickData">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" translate>{{quickDialogService.quickData.title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th *ngFor="let column of quickDialogService.quickData.columns">
                            <span translate>{{column}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let column of quickDialogService.quickData.columns;let i=index">
                            {{quickDialogService.quickData.entity[column]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hide()" translate>Ok</button>
    </div>
</div>