<div class="row">
  <div class="col-md-12">
    <!-- BORDERED TABLE -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Meters</h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Serial No</th>
              <th>Vendor Name</th>
              <th>Street Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let meter of allMeter;let i = index">
              <td>{{i+1}}</td>
              <td>{{meter.serialNo}}</td>
              <td>
                <a class="link" (click)="getMeterVendorDetailsById(meter.vendorId)">{{meter.vendorName}} </a>
              </td>
              <td>{{meter.streetName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END BORDERED TABLE -->
  </div>
</div>
<!-- <app-quick-dialog></app-quick-dialog> -->